.btn {
  background-color: $text-gray-3;
  color: $text-light-gray;
  cursor: pointer;
  display: inline-block;
  font-family: $second-font;
  font-size: 1.8rem;
  height: 55px;
  line-height: 1.22;
  max-width: 240px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  width: 100%;
}

.btn-product {
  background-color: #fffcf8;
  border: 1px solid $text-gray-3;
  color: $text-gray-3;
  cursor: pointer;
  display: inline-block;
  font-family: $second-font;
  font-size: 1.8rem;
  height: 50px;
  line-height: 1.5;
  max-width: 200px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 0.2s ease-in;
  width: 100%;

  &:hover {
    background-color: $text-gray-3;
    color: #fffcf8;
  }
}
