.btn-intro {
  background-color: $text-gray-3;
  border: 0;
  color: $text-light-gray;
  display: inline-block;
  font-family: $second-font;
  font-size: 1.8rem;
  height: 55px;
  line-height: 1.22;
  margin: 25px 0 85px;
  max-width: 240px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  width: 100%;

  @media (max-width: 575px) {
    font-size: 1.6rem;
    height: 45px;
    margin: 0 25% 30px;
    text-transform: inherit;
    width: 200px;
  }
}

.btn-product {
  background-color: $text-light-gray-2;
  border: 1px solid $text-gray-3;
  color: $text-gray-3;
  display: inline-block;
  font-family: $second-font;
  font-size: 1.8rem;
  height: 50px;
  line-height: 1.5;
  max-width: 200px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 0.2s ease-in;
  width: 100%;

  &:hover {
    background-color: $text-gray-3;
    color: $text-light-gray-2;
  }
}

.btn-modal {
  background-color: $text-gray-3;
  color: $text-white;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  height: 50px;
  margin-top: 38px;
  max-width: 200px;
  text-align: center;
  text-transform: none;
  transition: all 0.2s ease-in;
  width: 200px;
}
