.btn-intro {
  background-color: $text-purple;
  color: $text-white;
  display: inline-block;
  font-family: $second-font;
  font-size: 1.8rem;
  height: 55px;
  line-height: 1.22;
  text-align: center;
  text-transform: inherit;
  width: 240px;

  @media (max-width: 991px) {
    font-size: 1.6rem;
  }

  @media (max-width: 767px) {
    font-size: 1.4rem;
    height: 45px;
    width: 200px;
  }

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}

.btn-product {
  background-color: $text-purple;
  color: $text-white;
  display: inline-block;
  font-family: $second-font;
  font-size: 1.8rem;
  height: 50px;
  line-height: 1.5;
  max-width: 200px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 0.2s ease-in;
  width: 100%;

  &:hover {
    background-color: #4c1042;
  }
}

.btn-form {
  cursor: pointer;
  height: 45px;
  text-align: center;
  width: 200px;

  &--modal {
    cursor: pointer;
    height: 50px;
    margin-bottom: 35px;
    width: 200px;

    @media (max-width: 320px) {
      height: 35px;
      width: 150px;
    }
  }
}
