.carousel {
  @media (max-width: 575px) {
    width: 345px;
  }

  &-link {
    display: flex;
    position: relative;
    transform: translateY(530px);
    z-index: 999;

    @media (max-width: 575px) {
      transform: translateY(470px);
    }

    &--left {
      transform: translateY(530px) translateX(-600px);

      @media (max-width: 575px) {
        transform: translateY(470px) translateX(0);
      }
    }
  }

  &-image {
    height: 100%;
    height: 452px;
    margin-top: 80px;
    max-width: 680px;
    object-fit: cover;
    width: 100%;

    @media (max-width: 575px) {
      height: 229px;
      margin-top: 30px;
    }
  }
}

.carousel-inner {
  overflow: inherit;
}

.carousel-control-prev-icon {
  background-image: none;
  transform: translateX(570px) translateY(30px);

  &::before {
    background: url(../images/arrow-left.svg) no-repeat;
    background-size: contain;
    color: $text-black;
    content: "";
    display: inline-block;
    height: 15px;
    transform: translateX(-20px) translateY(0);
    width: 8px;

    @media (max-width: 575px) {
      transform: none;
    }
  }

  @media (max-width: 575px) {
    transform: none;
  }
}

.carousel-control-next-icon {
  background-image: none;

  &::after {
    background: url(../images/arrow-right.svg) no-repeat;
    background-size: contain;
    color: $text-black;
    content: "";
    display: inline-block;
    height: 15px;
    margin-left: 15px;
    transform: translateX(30px) translateY(30px);
    width: 8px;

    @media (max-width: 575px) {
      margin: 0;
      transform: translateX(-275px) translateY(0);
    }
  }
}

.carousel-caption {
  bottom: 0;
  color: #000;
  position: absolute;
  text-align: right;
  transform: translateY(62px) translateX(74px);
  z-index: 99;

  @media (max-width: 575px) {
    transform: translateY(64px) translateX(-100px);
  }

  &--left {
    transform: translateY(62px) translateX(-527px);

    @media (max-width: 575px) {
      transform: translate(-100px, 65px);
    }
  }

  &__title {
    font-size: 1.5rem;
  }
}

.carousel-control-prev,
.carousel-control-next {
  color: $text-black;
  opacity: 1;

  @media (max-width: 575px) {
    transform: translateX(136px) translateY(-180px);
    width: 0%;
  }
}
