.contact-form {
  &__wrapper {
    border: 2px solid $text-gray-3;
    margin: 10px auto 20px;
    max-width: 385px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media (max-width: 991px) {
      margin: 10px 0 15px;
      width: 345px;
    }

    @media (max-width: 767px) {
      margin: 10px 0 15px;
      width: 240px;
    }

    @media (max-width: 575px) {
      margin: 0 0 10px;
      width: 280px;

      textarea {
        font-size: 1rem;
        height: 7rem;
        width: 50rem;
      }
    }

    &-input {
      box-sizing: border-box;
      font-family: $second-font;
      font-size: 1.8rem;
      height: 40px;
      max-width: 360px;
      padding: 0 15px;
      width: 100%;

      @media (max-width: 767px) {
        height: 25px;
      }
    }
  }

  &__error {
    color: #e93223;
    font-family: $second-font;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 10px 50px;

    @media (max-width: 991px) {
      margin: 0 0 10px;
    }

    @media (max-width: 575px) {
      font-size: 1rem;
    }
  }

  &__label {
    box-sizing: border-box;
    color: $text-gray;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-left: 10%;

    @media (max-width: 991px) {
      font-size: 1.5rem;
      margin: 0;
    }

    @media (max-width: 575px) {
      font-size: 1.3rem;
    }
  }

  &__button {
    cursor: pointer;
    text-align: center;

    @media (max-width: 575px) {
      margin: 0;
    }

    &-modal {
      margin-bottom: 35px;
      margin-left: 10%;

      @media (max-width: 991px) {
        margin-left: 0;
      }
    }
  }
}

.popup {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &__overlay {
    background-color: $text-black;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__thanks {
    background-color: $text-white;
    height: 320px;
    max-width: 100%;
    padding: 60px;
    position: relative;
    text-align: center;
    width: 500px;
    z-index: 999;

    @media (max-width: 575px) {
      padding: 60px 24px 0;
      width: 305px;
    }

    &-text {
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 360px;
      width: 100%;

      @media (max-width: 575px) {
        font-size: 1.7rem;
      }
    }
  }
}

.popup.active {
  display: flex;
  opacity: 1;
  transition: opacity 1s;
}

.close {
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 2.7rem;
  font-weight: 500;
  position: absolute;
  right: 15px;
  top: 15px;
}
