.nav {
  bottom: 0;
  left: 20px;
  position: fixed;
  text-align: center;
  top: 0;
  transition: 1s $ease-in-out-cubic;
  width: $nav-width;
  will-change: width;
  z-index: 99;

  @media (max-width: 575px) {
    left: 0;
    top: 0;
  }

  &.is-active {
    max-width: 392px;
    width: 100%;

    @media (max-width: 575px) {
      max-width: 375px;
      width: 100%;
    }
  }
}

.nav__trigger {
  display: block;
  padding: $bar-thickness * 2 0;
  position: absolute;
  top: 50%;
  transition: 0.2s ease-in-out;
  z-index: 10;

  @media (max-width: 575px) {
    left: 320px;
    top: 7%;
  }

  .bars {
    position: relative;

    &,
    &::before,
    &::after {
      background-color: $text-gray;
      border-radius: $bar-thickness;
      height: $bar-thickness;
      transition: 0.2s ease-in-out;
      width: $bar-length;

      @media (max-width: 575px) {
        border-radius: 2px;
        height: 2px;
        width: 31px;
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      will-change: transform;
    }

    &::before {
      transform: translateY(-($bar-thickness * 2));
    }

    &::after {
      transform: translateY(($bar-thickness * 2));
    }
  }

  &.is-active {
    transform: rotate(-45deg);

    .bars {
      &::before,
      &::after {
        transform: translateX(0) rotate(-90deg);
      }
    }
  }
}

.nav__content {
  background-color: $text-gray-3;
  height: 820px;
  opacity: 0;
  padding: 179px 0 150px;
  position: absolute;
  transition: 0s linear 0.25s;
  visibility: hidden;
  width: 392px;

  @media (max-width: 575px) {
    padding: 120px 0;
    width: 100%;
  }

  &.is-active {
    opacity: 1;
    transition: 0s linear;
    visibility: visible;

    @media (max-width: 575px) {
      opacity: 0.95;
    }

    .nav__item {
      a {
        opacity: 1;
        transform: translateY(0);
        transition: {
          duration: 0.55s, 0.55s, 0.3s;
          property: transform, opacity, color;
          timing-function: $ease-in-out-cubic, ease-in-out, ease-in-out;
        }
      }
    }

    .nav__list {
      .nav__item {
        @for $num from 1 through 9 {
          &:nth-of-type(#{$num}) {
            a {
              transition-delay: $nav-item-delay * ($num - 1),
                $nav-item-delay * ($num - 1), 0s;
            }
          }
        }
      }
    }
  }
}

.nav__list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.nav__item {
  overflow: hidden;

  a {
    color: #f2f2f2;
    display: inline-block;
    font-family: $main-font;
    font-size: 1.8rem;
    font-weight: $body-fw;
    line-height: 1.5;
    opacity: 0;
    padding-bottom: 49px;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateY(100%);
    transition: 0.5s $ease-in-out-cubic;
    will-change: transform, opacity;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.nav__divider {
  background-color: $text-light-gray;
  height: 2px;
  margin: 1.75rem 0 1.5rem;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.3s $ease-in-out-cubic;
  width: 100%;
}
