* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  overflow-x: hidden; }

body {
  color: #333;
  font: 400 1rem "Prata", sans-serif; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

input,
textarea {
  background-color: transparent;
  border: 0;
  outline: none; }

textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  padding: 20px 15px 0;
  resize: none; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem; }

input::placeholder,
textarea::placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem; }

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input::placeholder,
textarea::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input:placeholder,
textarea:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

input:focus:placeholder,
textarea:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none !important; }

p {
  margin: 0;
  padding: 0; }

li:hover {
  text-decoration: none; }

.container {
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1215px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 1199px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 991px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 540px; } }
  @media (max-width: 575px) {
    .container {
      max-width: 100%; } }

.container-fluid {
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  max-width: "none";
  padding-left: 15px;
  padding-right: 15px; }

.row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%; }

.col {
  padding: 0;
  position: relative;
  width: 100%; }
  .col--no-gutter {
    padding-left: 0;
    padding-right: 0; }

.col-1 {
  max-width: 8.33333%; }

.col-2 {
  max-width: 16.66667%; }

.col-3 {
  max-width: 25%; }

.col-4 {
  max-width: 33.33333%; }

.col-5 {
  max-width: 41.66667%; }

.col-6 {
  max-width: 50%; }

.col-7 {
  max-width: 58.33333%; }

.col-8 {
  max-width: 66.66667%; }

.col-9 {
  max-width: 75%; }

.col-10 {
  max-width: 83.33333%; }

.col-11 {
  max-width: 91.66667%; }

.col-12 {
  max-width: 100%; }

@media (max-width: 1199px) {
  .col-xl-1 {
    max-width: 8.33333%; }
  .col-xl-2 {
    max-width: 16.66667%; }
  .col-xl-3 {
    max-width: 25%; }
  .col-xl-4 {
    max-width: 33.33333%; }
  .col-xl-5 {
    max-width: 41.66667%; }
  .col-xl-6 {
    max-width: 50%; }
  .col-xl-7 {
    max-width: 58.33333%; }
  .col-xl-8 {
    max-width: 66.66667%; }
  .col-xl-9 {
    max-width: 75%; }
  .col-xl-10 {
    max-width: 83.33333%; }
  .col-xl-11 {
    max-width: 91.66667%; }
  .col-xl-12 {
    max-width: 100%; } }

@media (max-width: 991px) {
  .col-lg-1 {
    max-width: 8.33333%; }
  .col-lg-2 {
    max-width: 16.66667%; }
  .col-lg-3 {
    max-width: 25%; }
  .col-lg-4 {
    max-width: 33.33333%; }
  .col-lg-5 {
    max-width: 41.66667%; }
  .col-lg-6 {
    max-width: 50%; }
  .col-lg-7 {
    max-width: 58.33333%; }
  .col-lg-8 {
    max-width: 66.66667%; }
  .col-lg-9 {
    max-width: 75%; }
  .col-lg-10 {
    max-width: 83.33333%; }
  .col-lg-11 {
    max-width: 91.66667%; }
  .col-lg-12 {
    max-width: 100%; } }

@media (max-width: 767px) {
  .col-md-1 {
    max-width: 8.33333%; }
  .col-md-2 {
    max-width: 16.66667%; }
  .col-md-3 {
    max-width: 25%; }
  .col-md-4 {
    max-width: 33.33333%; }
  .col-md-5 {
    max-width: 41.66667%; }
  .col-md-6 {
    max-width: 50%; }
  .col-md-7 {
    max-width: 58.33333%; }
  .col-md-8 {
    max-width: 66.66667%; }
  .col-md-9 {
    max-width: 75%; }
  .col-md-10 {
    max-width: 83.33333%; }
  .col-md-11 {
    max-width: 91.66667%; }
  .col-md-12 {
    max-width: 100%; } }

@media (max-width: 575px) {
  .col-sm-1 {
    max-width: 8.33333%; }
  .col-sm-2 {
    max-width: 16.66667%; }
  .col-sm-3 {
    max-width: 25%; }
  .col-sm-4 {
    max-width: 33.33333%; }
  .col-sm-5 {
    max-width: 41.66667%; }
  .col-sm-6 {
    max-width: 50%; }
  .col-sm-7 {
    max-width: 58.33333%; }
  .col-sm-8 {
    max-width: 66.66667%; }
  .col-sm-9 {
    max-width: 75%; }
  .col-sm-10 {
    max-width: 83.33333%; }
  .col-sm-11 {
    max-width: 91.66667%; }
  .col-sm-12 {
    max-width: 100%; } }

.d-none {
  display: none; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.d-flex {
  display: flex; }

@media (max-width: 1199px) {
  .d-xl-none {
    display: none; }
  .d-xl-inline-block {
    display: inline-block; }
  .d-xl-block {
    display: block; }
  .d-xl-flex {
    display: flex; } }

@media (max-width: 991px) {
  .d-lg-none {
    display: none; }
  .d-lg-inline-block {
    display: inline-block; }
  .d-lg-block {
    display: block; }
  .d-lg-flex {
    display: flex; } }

@media (max-width: 767px) {
  .d-md-none {
    display: none; }
  .d-md-inline-block {
    display: inline-block; }
  .d-md-block {
    display: block; }
  .d-md-flex {
    display: flex; } }

@media (max-width: 575px) {
  .d-sm-none {
    display: none; }
  .d-sm-inline-block {
    display: inline-block; }
  .d-sm-block {
    display: block; }
  .d-sm-flex {
    display: flex; } }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.flex-fill {
  flex: 1 1 auto !important; }

.flex-grow-0 {
  flex-grow: 0 !important; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.flex-shrink-0 {
  flex-shrink: 0 !important; }

.flex-shrink-1 {
  flex-shrink: 1 !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

@media (max-width: 1199px) {
  .flex-xl-row {
    flex-direction: row !important; }
  .flex-xl-column {
    flex-direction: column !important; }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-xl-fill {
    flex: 1 1 auto !important; }
  .flex-xl-grow-0 {
    flex-grow: 0 !important; }
  .flex-xl-grow-1 {
    flex-grow: 1 !important; }
  .flex-xl-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-xl-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-xl-start {
    justify-content: flex-start !important; }
  .justify-content-xl-end {
    justify-content: flex-end !important; }
  .justify-content-xl-center {
    justify-content: center !important; }
  .justify-content-xl-between {
    justify-content: space-between !important; }
  .justify-content-xl-around {
    justify-content: space-around !important; }
  .align-items-xl-start {
    align-items: flex-start !important; }
  .align-items-xl-end {
    align-items: flex-end !important; }
  .align-items-xl-center {
    align-items: center !important; }
  .align-items-xl-baseline {
    align-items: baseline !important; }
  .align-items-xl-stretch {
    align-items: stretch !important; }
  .align-content-xl-start {
    align-content: flex-start !important; }
  .align-content-xl-end {
    align-content: flex-end !important; }
  .align-content-xl-center {
    align-content: center !important; }
  .align-content-xl-between {
    align-content: space-between !important; }
  .align-content-xl-around {
    align-content: space-around !important; }
  .align-content-xl-stretch {
    align-content: stretch !important; }
  .align-self-xl-auto {
    align-self: auto !important; }
  .align-self-xl-start {
    align-self: flex-start !important; }
  .align-self-xl-end {
    align-self: flex-end !important; }
  .align-self-xl-center {
    align-self: center !important; }
  .align-self-xl-baseline {
    align-self: baseline !important; }
  .align-self-xl-stretch {
    align-self: stretch !important; } }

@media (max-width: 991px) {
  .flex-lg-row {
    flex-direction: row !important; }
  .flex-lg-column {
    flex-direction: column !important; }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-lg-fill {
    flex: 1 1 auto !important; }
  .flex-lg-grow-0 {
    flex-grow: 0 !important; }
  .flex-lg-grow-1 {
    flex-grow: 1 !important; }
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-lg-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-lg-start {
    justify-content: flex-start !important; }
  .justify-content-lg-end {
    justify-content: flex-end !important; }
  .justify-content-lg-center {
    justify-content: center !important; }
  .justify-content-lg-between {
    justify-content: space-between !important; }
  .justify-content-lg-around {
    justify-content: space-around !important; }
  .align-items-lg-start {
    align-items: flex-start !important; }
  .align-items-lg-end {
    align-items: flex-end !important; }
  .align-items-lg-center {
    align-items: center !important; }
  .align-items-lg-baseline {
    align-items: baseline !important; }
  .align-items-lg-stretch {
    align-items: stretch !important; }
  .align-content-lg-start {
    align-content: flex-start !important; }
  .align-content-lg-end {
    align-content: flex-end !important; }
  .align-content-lg-center {
    align-content: center !important; }
  .align-content-lg-between {
    align-content: space-between !important; }
  .align-content-lg-around {
    align-content: space-around !important; }
  .align-content-lg-stretch {
    align-content: stretch !important; }
  .align-self-lg-auto {
    align-self: auto !important; }
  .align-self-lg-start {
    align-self: flex-start !important; }
  .align-self-lg-end {
    align-self: flex-end !important; }
  .align-self-lg-center {
    align-self: center !important; }
  .align-self-lg-baseline {
    align-self: baseline !important; }
  .align-self-lg-stretch {
    align-self: stretch !important; } }

@media (max-width: 767px) {
  .flex-md-row {
    flex-direction: row !important; }
  .flex-md-column {
    flex-direction: column !important; }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-md-wrap {
    flex-wrap: wrap !important; }
  .flex-md-nowrap {
    flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-md-fill {
    flex: 1 1 auto !important; }
  .flex-md-grow-0 {
    flex-grow: 0 !important; }
  .flex-md-grow-1 {
    flex-grow: 1 !important; }
  .flex-md-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-md-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-md-start {
    justify-content: flex-start !important; }
  .justify-content-md-end {
    justify-content: flex-end !important; }
  .justify-content-md-center {
    justify-content: center !important; }
  .justify-content-md-between {
    justify-content: space-between !important; }
  .justify-content-md-around {
    justify-content: space-around !important; }
  .align-items-md-start {
    align-items: flex-start !important; }
  .align-items-md-end {
    align-items: flex-end !important; }
  .align-items-md-center {
    align-items: center !important; }
  .align-items-md-baseline {
    align-items: baseline !important; }
  .align-items-md-stretch {
    align-items: stretch !important; }
  .align-content-md-start {
    align-content: flex-start !important; }
  .align-content-md-end {
    align-content: flex-end !important; }
  .align-content-md-center {
    align-content: center !important; }
  .align-content-md-between {
    align-content: space-between !important; }
  .align-content-md-around {
    align-content: space-around !important; }
  .align-content-md-stretch {
    align-content: stretch !important; }
  .align-self-md-auto {
    align-self: auto !important; }
  .align-self-md-start {
    align-self: flex-start !important; }
  .align-self-md-end {
    align-self: flex-end !important; }
  .align-self-md-center {
    align-self: center !important; }
  .align-self-md-baseline {
    align-self: baseline !important; }
  .align-self-md-stretch {
    align-self: stretch !important; } }

@media (max-width: 575px) {
  .flex-sm-row {
    flex-direction: row !important; }
  .flex-sm-column {
    flex-direction: column !important; }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .flex-sm-fill {
    flex: 1 1 auto !important; }
  .flex-sm-grow-0 {
    flex-grow: 0 !important; }
  .flex-sm-grow-1 {
    flex-grow: 1 !important; }
  .flex-sm-shrink-0 {
    flex-shrink: 0 !important; }
  .flex-sm-shrink-1 {
    flex-shrink: 1 !important; }
  .justify-content-sm-start {
    justify-content: flex-start !important; }
  .justify-content-sm-end {
    justify-content: flex-end !important; }
  .justify-content-sm-center {
    justify-content: center !important; }
  .justify-content-sm-between {
    justify-content: space-between !important; }
  .justify-content-sm-around {
    justify-content: space-around !important; }
  .align-items-sm-start {
    align-items: flex-start !important; }
  .align-items-sm-end {
    align-items: flex-end !important; }
  .align-items-sm-center {
    align-items: center !important; }
  .align-items-sm-baseline {
    align-items: baseline !important; }
  .align-items-sm-stretch {
    align-items: stretch !important; }
  .align-content-sm-start {
    align-content: flex-start !important; }
  .align-content-sm-end {
    align-content: flex-end !important; }
  .align-content-sm-center {
    align-content: center !important; }
  .align-content-sm-between {
    align-content: space-between !important; }
  .align-content-sm-around {
    align-content: space-around !important; }
  .align-content-sm-stretch {
    align-content: stretch !important; }
  .align-self-sm-auto {
    align-self: auto !important; }
  .align-self-sm-start {
    align-self: flex-start !important; }
  .align-self-sm-end {
    align-self: flex-end !important; }
  .align-self-sm-center {
    align-self: center !important; }
  .align-self-sm-baseline {
    align-self: baseline !important; }
  .align-self-sm-stretch {
    align-self: stretch !important; } }

.title {
  font-family: "Prata", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

.header-title {
  margin-left: 15px; }

.title {
  color: #333; }
  .title--h1 {
    font-size: 3.6rem; }
  .title--h2 {
    font-size: 3.6rem; }
  .title--h3 {
    font-size: 2.8rem; }
  .title--h4 {
    font-size: 1.8rem; }
  .title--h5 {
    font-size: 1.3rem; }
  .title--h6 {
    font-size: 1rem; }

.btn {
  background-color: #77917e;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  height: 55px;
  line-height: 1.22;
  max-width: 240px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  width: 100%; }

.btn-product {
  background-color: #fffcf8;
  border: 1px solid #77917e;
  color: #77917e;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  height: 50px;
  line-height: 1.5;
  max-width: 200px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 0.2s ease-in;
  width: 100%; }
  .btn-product:hover {
    background-color: #77917e;
    color: #fffcf8; }

.title-line {
  border-top: 2px solid #4e6655;
  height: 0;
  max-width: 50px;
  width: 100%; }
  .title-line--item {
    transform: translateX(-65px) translateY(25px); }

.contact-form__input-wrapper {
  border: 2px solid #77917e;
  margin: 0 auto 20px;
  max-width: 385px;
  width: 100%; }

.contact-form__input {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  height: 40px;
  max-width: 360px;
  padding: 0 15px;
  width: 100%; }

.contact-form__error-name {
  color: #e93223;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1; }

.contact-form__label {
  box-sizing: border-box;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-left: 10%; }

.contact-form__button {
  text-align: center; }
  .contact-form__button-modal {
    margin-bottom: 35px;
    margin-left: 10%; }

.carousel-link {
  display: flex;
  position: relative;
  transform: translateY(530px);
  z-index: 999; }
  .carousel-link--left {
    transform: translateY(530px) translateX(-600px); }

.carousel-image {
  height: 100%;
  margin-top: 80px;
  max-height: 452px;
  max-width: 680px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%; }

.carousel-inner {
  overflow: inherit; }

.carousel-control-prev-icon {
  background-image: none;
  transform: translateX(570px) translateY(30px); }
  .carousel-control-prev-icon::before {
    background: url(../images/arrow-left.svg) no-repeat;
    background-size: contain;
    color: #000;
    content: "";
    display: inline-block;
    height: 15px;
    transform: translateX(-20px) translateY(2px);
    width: 8px; }

.carousel-control-next-icon {
  background-image: none; }
  .carousel-control-next-icon::after {
    background: url(../images/arrow-right.svg) no-repeat;
    background-size: contain;
    color: #000;
    content: "";
    display: inline-block;
    height: 15px;
    margin-left: 15px;
    transform: translateX(30px) translateY(32px);
    width: 8px; }

.carousel-caption {
  bottom: 0;
  color: #000;
  position: absolute;
  text-align: right;
  transform: translateY(62px) translateX(74px);
  z-index: 99; }
  .carousel-caption--left {
    transform: translateY(62px) translateX(-527px); }
  .carousel-caption__title {
    font-size: 1.5rem; }

.carousel-control-prev,
.carousel-control-next {
  color: #000; }

.nav {
  bottom: 0;
  left: 20px;
  position: fixed;
  text-align: center;
  top: 0;
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 3.75rem;
  will-change: width;
  z-index: 99; }
  .nav.is-active {
    max-width: 392px;
    width: 100%; }

.nav__trigger {
  display: block;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  transition: 0.2s ease-in-out;
  z-index: 10; }
  .nav__trigger .bars {
    position: relative; }
    .nav__trigger .bars, .nav__trigger .bars::before, .nav__trigger .bars::after {
      background-color: #333;
      border-radius: 4px;
      height: 4px;
      transition: 0.2s ease-in-out;
      width: 28px; }
    .nav__trigger .bars::before, .nav__trigger .bars::after {
      content: "";
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      will-change: transform; }
    .nav__trigger .bars::before {
      transform: translateY(-8px); }
    .nav__trigger .bars::after {
      transform: translateY(8px); }
  .nav__trigger.is-active {
    transform: rotate(-45deg); }
    .nav__trigger.is-active .bars::before, .nav__trigger.is-active .bars::after {
      transform: translateX(0) rotate(-90deg); }

.nav__content {
  background-color: #77917e;
  height: 820px;
  opacity: 0;
  padding: 179px 0 150px;
  position: absolute;
  transition: 0s linear 0.25s;
  visibility: hidden;
  width: 392px; }
  .nav__content.is-active {
    opacity: 1;
    transition: 0s linear;
    visibility: visible; }
    .nav__content.is-active .nav__item a {
      opacity: 1;
      transform: translateY(0);
      transition-duration: 0.55s, 0.55s, 0.3s;
      transition-property: transform, opacity, color;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out, ease-in-out; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(1) a {
      transition-delay: 0s, 0s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(2) a {
      transition-delay: 0.05s, 0.05s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(3) a {
      transition-delay: 0.1s, 0.1s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(4) a {
      transition-delay: 0.15s, 0.15s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(5) a {
      transition-delay: 0.2s, 0.2s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(6) a {
      transition-delay: 0.25s, 0.25s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(7) a {
      transition-delay: 0.3s, 0.3s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(8) a {
      transition-delay: 0.35s, 0.35s, 0s; }
    .nav__content.is-active .nav__list .nav__item:nth-of-type(9) a {
      transition-delay: 0.4s, 0.4s, 0s; }

.nav__list ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item {
  overflow: hidden; }
  .nav__item a {
    color: #f2f2f2;
    display: inline-block;
    font-family: "Prata", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0;
    padding-bottom: 49px;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateY(100%);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: transform, opacity; }
    .nav__item a:hover {
      color: white;
      text-decoration: underline; }

.nav__divider {
  background-color: #f6f6f6;
  height: 2px;
  margin: 1.75rem 0 1.5rem;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%; }

.intro-section {
  padding: 0 0 120px;
  position: relative; }
  .intro-section-social {
    margin-top: 645px; }
    .intro-section-social > a > img {
      margin-bottom: 10px; }
    .intro-section-social__item {
      height: 20px;
      margin-bottom: 10px;
      width: 20px; }
  .intro-section__img {
    height: 802px;
    width: 685px;
    z-index: 1; }

.intro-author {
  margin-left: auto;
  margin-right: 0;
  position: relative; }
  .intro-author__phone {
    box-sizing: border-box;
    color: #fffaf4;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.66;
    position: absolute;
    transform: translateX(440px) translateY(47px);
    z-index: 99; }
    .intro-author__phone-logo {
      position: absolute;
      transform: translateX(-35px) translateY(0); }

.intro-content {
  margin-left: 135px;
  width: 540px; }
  .intro-content__title {
    letter-spacing: 4px;
    margin-bottom: 30px;
    margin-top: 75px;
    text-align: left;
    width: 540px; }
  .intro-content__text {
    color: #666;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.7; }
  .intro-content__btn {
    margin-bottom: 85px;
    margin-top: 25px; }

.logo {
  height: 168px;
  margin: 0 auto;
  width: 289px; }

.author-section {
  position: relative; }
  .author-section__img {
    height: 327px;
    width: 700px; }

.author-content {
  padding: 0;
  width: 685px; }
  .author-content__title {
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: left; }
    .author-content__title--sec {
      color: #40573d;
      font-family: "Montserrat", sans-serif;
      line-height: 1.66;
      margin-bottom: 20px;
      text-transform: initial;
      width: 450px; }
  .author-content__text {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 1.66; }

.author-image {
  height: 650px;
  margin-left: auto;
  margin-right: 0;
  width: 434px; }

.main {
  position: relative; }

.portfolio-section {
  padding: 0; }
  .portfolio-section__title {
    text-align: left;
    transform: translateX(180px) translateY(-40px); }
    .portfolio-section__title--bold {
      color: #333;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      line-height: 1.66;
      margin-bottom: 15px;
      text-transform: inherit; }
  .portfolio-section__text {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    max-width: 385px;
    width: 100%; }

.portfolio-content {
  padding: 0; }
  .portfolio-content__box {
    width: 385px; }
    .portfolio-content__box-title {
      margin-bottom: 20px; }
      .portfolio-content__box-title--second {
        margin-bottom: 20px; }
    .portfolio-content__box--menu {
      color: #40573d;
      font-family: "Montserrat", sans-serif;
      line-height: 1.66;
      text-transform: inherit; }
    .portfolio-content__box--second {
      margin-left: 105px;
      width: 400px; }

.next-image {
  color: #000;
  font-family: "Prata", sans-serif;
  font-size: 1.5rem;
  margin-left: 15px;
  margin-top: 15px; }
  .next-image--right {
    float: right; }
  .next-image--left {
    float: left; }

.profit-section {
  background-color: #77917e;
  padding: 40px 0 50px;
  position: relative; }
  .profit-section .container {
    margin-bottom: 0; }
  .profit-section__title {
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.36;
    transform: translateX(180px); }
  .profit-section__card {
    margin-top: 72px;
    width: 200px; }
    .profit-section__card-img {
      height: 75px;
      margin-bottom: 42px;
      width: 75px; }
    .profit-section__card-title {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      line-height: 1.4; }
    .profit-section__card-text {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 10px; }

.col-card {
  flex: 1 1 auto;
  margin: 0 5px; }

.products-section {
  padding-bottom: 0;
  padding-top: 120px;
  position: relative; }
  .products-section > h2 {
    margin-left: 15px; }
  .products-section__card {
    background-color: #fffcf8;
    box-shadow: 0 0 25px rgba(119, 145, 126, 0.6);
    height: 480px;
    margin-top: 50px;
    padding: 30px 0 25px;
    width: 350px; }
    .products-section__card-name {
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 10px;
      text-align: center; }
    .products-section__card-title {
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 25px;
      text-align: center; }
    .products-section__card-price {
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 25px;
      text-align: center; }
    .products-section__card-list {
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: center; }
      .products-section__card-list li {
        margin-bottom: 10px; }
    .products-section__card-btn {
      margin-top: 63px;
      text-align: center; }

.addition-section {
  position: relative; }
  .addition-section h2 {
    margin-left: 15px; }
  .addition-section__title {
    color: #40573d;
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 30px;
    margin-top: 75px;
    width: 355px; }
    .addition-section__title--middle {
      margin-bottom: 60px; }
    .addition-section__title--long {
      margin-bottom: 90px; }
  .addition-section__text {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5; }
  .addition-section-box {
    height: 300px;
    margin-bottom: 80px;
    width: 315px; }

.charity-section {
  position: relative; }
  .charity-section__desc {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin-bottom: 35px;
    text-transform: none; }
  .charity-section__img {
    margin-bottom: 24px;
    max-height: 453px;
    max-width: 364px; }

.contacts-section {
  position: relative; }
  .contacts-section__list {
    margin-bottom: 65px;
    margin-top: 20px;
    width: 400px; }
    .contacts-section__list li {
      margin-bottom: 15px; }
    .contacts-section__list-text {
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.5;
      margin-left: 23px; }
  .contacts-section__img {
    height: 525px;
    position: relative;
    width: 429px;
    z-index: 1; }
    .contacts-section__img::before {
      background-image: url(../images/image-4.jpg);
      content: "";
      display: block;
      height: 525px;
      left: 25px;
      opacity: 0.5;
      position: absolute;
      top: 25px;
      width: 429px;
      z-index: -2; }
    .contacts-section__img--first {
      margin-left: 90px;
      margin-top: 65px; }
    .contacts-section__img--second {
      margin-left: 60px;
      margin-top: 130px; }
  .contacts-section .row + .row {
    margin-bottom: 155px; }
  .contacts-section__contact-form {
    margin-left: 100px;
    margin-top: 90px;
    max-width: 360px;
    position: relative;
    width: 100%; }
    .contacts-section__contact-form-title {
      font-family: "Montserrat", sans-serif;
      font-size: 2.4rem;
      font-weight: 600; }
    .contacts-section__contact-form-text {
      color: #40573d;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 25px;
      margin-top: 35px;
      text-align: center; }
      .contacts-section__contact-form-text--second {
        text-align: left; }
  .contacts-section__social {
    margin-left: 90px;
    margin-top: 130px;
    position: relative; }
    .contacts-section__social-list {
      margin-top: 35px; }
      .contacts-section__social-list-item {
        height: 35px;
        margin-right: 30px;
        width: 31px; }

.iconify {
  height: 25px;
  width: 26px; }
  .iconify-footer {
    color: #fff; }

.footer-section {
  background-color: #77917e;
  padding: 58px 0;
  position: relative; }

.footer-menu__link {
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 23px; }
  .footer-menu__link:hover {
    color: #666; }

.footer-menu__social {
  margin-right: 30px; }
