.addition-section {
  overflow: hidden;
  padding: 0 0 100px;
  position: relative;

  @media (max-width: 1199px) {
    padding: 60px 0 40px;
  }

  @media (max-width: 991px) {
    padding-bottom: 0;
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  .container {
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
  }

  &__header {
    font-size: 3.6rem;
    line-height: 1.35;
    margin: 0 0 70px;

    @media (max-width: 1199px) {
      font-size: 3rem;
    }

    @media (max-width: 991px) {
      margin: 0;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
      margin: 0 0 30px;
    }

    @media (max-width: 575px) {
      letter-spacing: 2px;
      margin: 0 0 34px;
      text-align: center;
    }
  }

  &__title {
    color: $text-gray-3;
    font-family: $second-font;
    font-size: 2.4rem;
    font-weight: $body-fw-md;
    margin: 0 0 30px;
    width: 355px;

    @media (max-width: 1199px) {
      font-size: 2rem;
      width: 290px;
    }

    @media (max-width: 991px) {
      margin: 35px 0;
      width: 100%;
    }

    @media (max-width: 767px) {
      margin: 0 0 10px;
    }

    &--middle {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 60px;
      }

      @media (max-width: 767px) {
        margin: 20px 0 10px;
      }
    }

    &--long {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 80px;
      }

      @media (max-width: 767px) {
        margin: 20px 0 10px;
      }
    }

    &--resp {
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    color: $text-gray;
    font-family: $second-font;
    font-size: 1.8rem;
    font-weight: $body-fw;
    line-height: 1.5;

    @media (max-width: 991px) {
      font-size: 1.5rem;
    }
  }

  &-box {
    height: 300px;
    margin-bottom: 80px;
    width: 315px;

    @media (max-width: 1199px) {
      width: 290px;
    }

    @media (max-width: 991px) {
      padding: 0 10px 0 0;
      width: 100%;
    }

    @media (max-width: 767px) {
      height: auto;
      margin-bottom: 30px;
    }

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    @media (min-width: 575px) {
      display: none;
    }

    &-item {
      border-top: 1px solid $text-purple;
      padding: 15px 0;
      position: relative;
      width: 100%;
    }

    &-text {
      color: $text-gray-3;
      font-family: $second-font;
      font-size: 1.6rem;
      font-weight: $body-fw-md;
      line-height: 1.62;
      width: 270px;
    }

    &-icon {
      background-image: url(../images/open-icon.svg);
      background-size: 100%;
      content: "";
      cursor: pointer;
      height: 30px;
      position: absolute;
      right: 0;
      top: 15px;
      width: 30px;
    }

    &-desc {
      color: $text-gray;
      font-family: $second-font;
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }
}

.close-card .addition-section__list-desc {
  display: block;
  float: left;
  height: 0;
  transform: scaleY(0);
  transition: height 1s ease-out;
}

.open .addition-section__list-desc {
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 1.6rem;
  line-height: 30px;
  padding: 20px 0 15px;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  width: 100%;
}

.open .addition-section__list-icon {
  background-image: url(../images/close-icon.svg);
  background-size: 100%;
  content: "";
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 30px;
}
