.author-section {
  overflow: hidden;
  position: relative;

  .container {
    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
  }

  &__img {
    height: 327px;
    width: 700px;

    @media (max-width: 1199px) {
      width: 90%;
    }

    @media (max-width: 575px) {
      display: none;
    }

    &--sec {
      height: 650px;
      width: 434px;
    }
  }
}

.author-content {
  padding: 0;
  width: 685px;
  @media (max-width: 575px) {
    width: 345px;

    div {
      width: 100%;
    }
  }

  &__title {
    font-size: 3.6rem;
    margin: 60px 0 30px;
    text-align: left;

    @media (max-width: 1199px) {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    @media (max-width: 575px) {
      font-size: 2rem;
      margin: 0 0 10px;
    }
  }

  &__blockquote {
    color: $text-gray-4;
    font-family: $second-font;
    font-size: 1.8rem;
    line-height: 1.66;
    margin-bottom: 20px;
    text-transform: initial;
    width: 450px;

    @media (max-width: 575px) {
      width: 345px;
    }
  }

  &__text {
    color: $text-gray;
    font-family: $second-font;
    font-size: 1.8rem;
    line-height: 1.66;

    @media (max-width: 1199px) {
      font-size: 1.5rem;
      padding-right: 40px;
    }

    @media (max-width: 575px) {
      font-size: 1.4rem;
    }
  }
}

.author-image {
  margin-left: 45px;
  width: 434px;

  @media (max-width: 1199px) {
    margin-left: 0;
  }

  @media (max-width: 575px) {
    height: auto;
    margin-top: 30px;
    width: 345px;
  }
}
