.charity-section {
  overflow: hidden;
  position: relative;

  .container {
    margin-bottom: 36px;
    @media (max-width: 1199px) {
      margin-bottom: 60px;
    }
    @media (max-width: 575px) {
      margin-bottom: 40px;
    }
  }

  &__header {
    margin-left: 15px;

    @media (max-width: 1199px) {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    @media (max-width: 575px) {
      font-size: 2rem;
      margin: 0 0 20px;
      text-align: center;
    }
  }

  &__box {
    @media (max-width: 575px) {
      margin: 0 auto;
    }
  }

  &__desc {
    font-family: $second-font;
    line-height: 1.5;
    margin: 0 0 35px 15px;
    text-transform: none;

    @media (max-width: 575px) {
      text-align: center;
    }
  }

  &__img {
    margin-bottom: 84px;
    max-height: 453px;
    max-width: 364px;

    @media (max-width: 1199px) {
      height: 430px;
      margin-bottom: 24px;
      width: auto;
    }

    @media (max-width: 575px) {
      height: 430px;
      margin-bottom: 24px;
      max-width: 345px;
    }
  }
}
