.charity-section {
  overflow: hidden;
  position: relative;

  @media (max-width: 1199px) {
    padding: 60px 0 0;
  }

  @media (max-width: 767px) {
    padding: 20px 0 0;
  }

  @media (max-width: 575px) {
    padding: 50px 0 35px;
  }

  .container {
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__header {
    font-size: 3.6rem;
    line-height: 1.35;

    @media (max-width: 991px) {
      font-size: 3rem;
      margin: 0 0 10px;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
    }

    @media (max-width: 575px) {
      letter-spacing: 2px;
      text-align: center;
    }
  }

  &__box {
    &--resp {
      @media (max-width: 767px) {
        display: flex;
        position: relative;
      }

      @media (max-width: 575px) {
        display: inline-block;
      }
    }
  }

  &__desc {
    font-family: $second-font;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 0 35px;
    text-transform: none;

    @media (max-width: 991px) {
      margin: 0 0 40px;
    }

    @media (max-width: 767px) {
      font-size: 1.6rem;
    }

    @media (max-width: 575px) {
      text-align: center;

      span {
        display: none;
      }
    }
  }

  &__img {
    display: block;
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      margin: 0 auto 10px;
      width: 95%;
    }

    @media (max-width: 991px) {
      margin: 0 auto 30px;
      width: 90%;
    }

    @media (max-width: 767px) {
      margin-right: 30px;
    }

    @media (max-width: 575px) {
      margin: 0 auto 25px;
      width: 100%;
    }
  }
}
