.footer-section {
  background-color: $text-purple;
  overflow: hidden;
  padding: 58px 0 0;
  position: relative;

  @media (max-width: 1199px) {
    padding: 35px 0 0;
  }

  .container {
    margin-bottom: 0;
  }

  &-design {
    border-top: 1px solid $text-pink;
    height: 60px;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;

    @media (max-width: 575px) {
      height: 40px;
      padding: 10px 0;
    }

    &__title {
      color: $text-light-gray-2;
      font-family: $second-font;
      font-size: 1.6rem;
      font-weight: $body-fw;
      text-align: center;

      @media (max-width: 575px) {
        font-size: 1.2rem;
      }
    }
  }
}

.footer-menu {
  &__contacts {
    @media (max-width: 575px) {
      display: flex;
      justify-content: space-around;
    }

    &--social {
      @media (max-width: 767px) {
        svg {
          display: none;
        }
      }

      svg {
        margin-right: 23px;
      }

      @media (max-width: 575px) {
        display: none;
      }
    }
  }

  &__icon {
    display: block;
  }

  &__link {
    color: $text-white;
    cursor: pointer;
    font-family: $second-font;
    font-size: 2rem;
    font-weight: $body-fw;
    line-height: 1.2;
    margin: 0 0 20px;

    span {
      margin-right: 5px;
    }

    @media (max-width: 1199px) {
      font-size: 1.5rem;
    }

    @media (max-width: 991px) {
      font-size: 1.4rem;
    }

    @media (max-width: 767px) {
      span {
        display: none;
      }
    }

    @media (max-width: 575px) {
      font-size: 1.7rem;
    }
  }

  &__social {
    margin-right: 30px;
  }
}
