.footer-section {
  background-color: $text-gray-3;
  overflow: hidden;
  padding: 58px 0;
  position: relative;

  @media (max-width: 1199px) {
    padding: 35px 0;
  }
  @media (max-width: 575px) {
    padding: 35px 0;
  }

  .container {
    margin-bottom: 0;
  }
}

.footer-menu {
  &__contacts {
    @media (max-width: 575px) {
      margin-right: 0;
    }

    &--social {
      @media (max-width: 767px) {
        svg {
          display: none;
        }
      }
      @media (max-width: 575px) {
        display: none;
      }

      svg {
        margin-right: 23px;
      }
    }
  }

  &__icon {
    display: block;
    height: 35px;
    position: absolute;
    width: 31px;
  }

  &__link {
    color: $text-white;
    cursor: pointer;
    font-family: $second-font;
    font-size: 2rem;
    font-weight: $body-fw;
    line-height: 1.2;
    margin: 0 0 20px;

    &:hover {
      color: $text-gray-2;
    }

    @media (max-width: 1199px) {
      font-size: 1.5rem;
    }

    @media (max-width: 991px) {
      font-size: 1.4rem;
    }

    @media (max-width: 575px) {
      font-size: 1.7rem;
      margin-left: 35px;
    }
  }

  &__social {
    margin-right: 60px;
  }
}
