.main {
  overflow: hidden;
  position: relative;

  @media (max-width: 1199px) {
    padding: 60px 0;
  }

  @media (max-width: 575px) {
    padding: 50px 0;
  }
}

.portfolio-section {
  .container {
    margin-bottom: 170px;
    @media (max-width: 1199px) {
      margin-bottom: 100px;
    }

    @media (max-width: 575px) {
      margin-bottom: 100px;
    }
  }

  &__header {
    font-size: 3.6rem;
    line-height: 1.35;
    margin: 0 0 100px;
    @media (max-width: 1199px) {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
      letter-spacing: 2px;
    }

    @media (max-width: 575px) {
      text-align: center;
    }
  }
}

.portfolio-content {
  padding: 0;

  &__title {
    color: $text-gray-3;
    font-family: $second-font;
    font-size: 1.8rem;
    line-height: 1.66;
    margin: 0 0 36px 75px;
    text-transform: inherit;

    @media (max-width: 1199px) {
      margin: 20px 0 15px 65px;
    }

    &--left::after {
      border-top: 2px solid #4e6655;
      content: "";
      height: 0;
      left: 15px;
      max-width: 50px;
      position: absolute;
      top: 15px;
      width: 100%;

      @media (max-width: 1199px) {
        top: 35px;
      }
    }

    &--right::after {
      border-top: 2px solid #4e6655;
      content: "";
      height: 0;
      left: 105px;
      max-width: 50px;
      position: absolute;
      top: 15px;
      width: 100%;

      @media (max-width: 1199px) {
        left: 50px;
        top: 35px;
      }

      @media (max-width: 991px) {
        left: 15px;
      }
    }
  }

  &--right {
    margin-left: 90px;
    width: 400px;

    @media (max-width: 1199px) {
      margin-left: 50px;
      width: 90%;
    }

    @media (max-width: 991px) {
      margin-left: 0;
    }

    @media (max-width: 767px) {
      margin: 0;
      width: 100%;
    }
  }

  &__box {
    width: 385px;

    @media (max-width: 1199px) {
      padding-right: 40px;
      width: 100%;
    }

    @media (max-width: 991px) {
      padding-right: 0;
    }

    &-title {
      color: $text-gray;
      font-family: $second-font;
      font-size: 1.8rem;
      font-weight: $body-fw-md;
      line-height: 1.66;
      margin-bottom: 35px;
      text-transform: inherit;

      @media (max-width: 575px) {
        font-size: 1.7rem;
      }
    }

    &-text {
      color: $text-gray;
      font-family: $second-font;
      font-size: 1.8rem;
      font-weight: $body-fw;
      line-height: 1.66;
      max-width: 385px;
      width: 100%;

      @media (max-width: 1199px) {
        font-size: 1.5rem;
        width: 100%;
      }

      @media (max-width: 991px) {
        font-size: 1.5rem;
        max-width: 100%;
      }
    }
  }
}

.next-image {
  color: $text-black;
  font-family: $main-font;
  font-size: 1.5rem;
  margin: 15px 0 0 15px;

  &--right {
    float: right;
  }

  &--left {
    float: left;
  }
}
