.products-section {
  overflow: hidden;
  padding: 100px 0;
  position: relative;

  @media (max-width: 1199px) {
    padding: 60px 0;
  }

  @media (max-width: 767px) {
    padding: 0;
  }

  @media (max-width: 575px) {
    padding: 100px 0 80px;
  }

  .container {
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  .row {
    @media (max-width: 1199px) {
      margin: 0;
    }
  }

  &__header {
    font-size: 3.6rem;
    line-height: 1.35;
    margin: 0 0 50px;

    @media (max-width: 991px) {
      font-size: 3rem;
      margin: 0 0 40px;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
      margin: 40px 0 0;
      text-align: center;
    }

    @media (max-width: 575px) {
      letter-spacing: 2px;
      margin: 0 0 40px;
      text-align: center;
    }
  }

  &__card {
    background-color: $text-light-gray-2;
    box-shadow: 0 0 25px rgba(119, 145, 126, 0.6);
    height: 480px;
    margin: 0 auto;
    padding: 30px 0 25px;
    position: relative;
    width: 350px;

    @media (max-width: 1199px) {
      width: 290px;
    }

    @media (max-width: 991px) {
      display: flex;
      margin: 0;
      padding: 20px 10px;
      text-align: center;
      width: auto;
    }

    @media (max-width: 767px) {
      box-shadow: none;
      height: 400px;
      margin: 30px auto;
      width: 345px;
    }

    @media (max-width: 575px) {
      margin: 0 auto;
      width: 100%;
    }

    &-name {
      color: $text-black;
      font-family: $second-font;
      font-size: 1.8rem;
      font-weight: $body-fw;
      line-height: 1.5;
      margin-bottom: 10px;
      text-align: center;
    }

    &-title {
      color: $text-black;
      font-family: $second-font;
      font-size: 2.8rem;
      font-weight: $body-fw;
      line-height: 1.5;
      margin-bottom: 25px;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: 991px) {
        font-size: 2.2rem;
      }
    }

    &-price {
      color: $text-black;
      font-family: $second-font;
      font-size: 2rem;
      font-weight: $body-fw;
      line-height: 1.5;
      margin-bottom: 25px;
      text-align: center;
    }

    &-list {
      color: $text-black;
      font-family: $second-font;
      font-size: 1.6rem;
      font-weight: $body-fw;
      line-height: 1.5;
      text-align: center;

      li {
        margin-bottom: 10px;
        @media (max-width: 991px) {
          margin-bottom: 5px;
        }
      }

      @media (max-width: 991px) {
        font-size: 1.4rem;
      }
    }

    &-btn {
      bottom: 5%;
      left: 22%;
      position: absolute;
      text-align: center;
      width: 200px;

      @media (max-width: 1199px) {
        left: 15%;
      }

      @media (max-width: 991px) {
        height: 40px;
        left: initial;
        width: 120px;
      }

      @media (max-width: 767px) {
        bottom: 10%;
        height: 35px;
        width: 150px;
      }

      @media (max-width: 575px) {
        bottom: 0;
        height: auto;
        left: 0;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
