@mixin flex($ali: stretch, $jc: flex-start, $fw: wrap) {
  align-items: $ali;
  display: flex;
  flex-wrap: $fw;
  justify-content: $jc;
}

@mixin generate-flex-helpers($prefix: "") {
  .flex#{$prefix}-row {
    flex-direction: row !important;
  }
  .flex#{$prefix}-column {
    flex-direction: column !important;
  }
  .flex#{$prefix}-wrap {
    flex-wrap: wrap !important;
  }
  .align-items#{$prefix}-center {
    align-items: center !important;
  }
}
