body {
  font: 14px "Montserrat", sans-serif;
}

.contact-form__input-wrapper {
  border: 2px solid #77917e;
  margin-bottom: 20px;
}

.contact-form__input {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  height: 40px;
  width: 360px;
}

.contact-form__error-name {
  color: #e93223;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
}

textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  padding: 20px 15px 0;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color:#333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:placeholder,
textarea:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:placeholder,
textarea:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contact-form__button {
  margin-left: 25%;
  text-align: center;
}
