*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $html-font-size;
  overflow-x: hidden;
}

body {
  color: $body-font-color;
  font: $body-fw $body-fz/$body-lh $body-font;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none !important;
}

p {
  margin: 0;
  padding: 0;
}

li:hover {
  text-decoration: none;
}

input,
textarea {
  background-color: transparent;
  border: 0;
  outline: none;
}

textarea {
  font-family: $second-font;
  font-size: 1.8rem;
  padding: 20px 15px 0;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: $text-gray;
  font-family: $second-font;
  font-size: 1.7rem;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:placeholder,
textarea:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:placeholder,
textarea:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 575px) {
  .row {
    margin: 0;
  }
}
