$main-font: "Prata", sans-serif;
$second-font: "Montserrat", sans-serif;

// Text Colors
$text-gray: #333;
$text-gray-2: #666;
$text-gray-3: #77917e;
$text-gray-4: #40573d;
$text-white: #fff;
$text-light-gray: #f6f6f6;
$text-light-gray-2: #fffcf8;
$text-black: #000;
$text-pink: #fffaf4;

$html-font-size: 10px;
$body-font-color: $text-gray;
$body-bg-color: $text-pink;
$body-font: $main-font;
$body-fz: 1rem;
$body-fw: 400;
$body-fw-md: 500;
$body-lh: 1;

// Grid
$container-width: 1185px;
$container-fluid-width: 1305px;
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-no-gutter: 0;

$grid-breakpoints: (
  xl: 1199px,
  lg: 991px,
  md: 767px,
  sm: 575px,
);

$container-max-width: (
  xl: 960px,
  lg: 720px,
  md: 540px,
  sm: 100%,
);

$displays: none, inline-block, block, flex;

// Titles
$title-ff: $main-font;
$title-color: $text-gray;

// Carousel Bootstrap
$carousel-control-color: $text-white !default;
$carousel-control-width: 15% !default;
$carousel-control-opacity: 1 !default;
$carousel-control-hover-opacity: 1 !default;
$carousel-control-transition: opacity 0.15s ease !default;

$carousel-indicator-width: 12px !default;
$carousel-indicator-height: 12px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer: 10px !default;
$carousel-indicator-active-bg: #333 !default;
$carousel-indicator-transition: opacity 0.6s ease !default;

$carousel-caption-width: 70% !default;
$carousel-caption-color: $text-white !default;

$carousel-control-icon-width: 40px !default;

$carousel-transition-duration: 0.6s !default;
$carousel-transition: transform $carousel-transition-duration ease-in-out !default;

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;

$transition-base: all 0.2s ease-in-out !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;

// Modals
$modal-title-line-height: 1;
$modal-dialog-margin: 0.5rem !default;

$modal-content-color: null !default;
$modal-content-bg: #fff;
$modal-content-border-color: #000;
$modal-content-border-width: 2px;
$modal-content-border-radius: 10%;

$modal-backdrop-bg: #000;
$modal-backdrop-opacity: 0.5 !default;
$modal-header-border-color: #000;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding-y: 1rem !default;
$modal-header-padding-x: 1rem !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default;

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;
